footer {
    display: block;
    text-align: center;
}
header {
    display: block;
    text-align: center;
}
h1 {
    font-family: "helvetica", sans-serif;
}
a:visited {
    color: blue;
}
a:hover {
    font-weight: bold
}
a:active {
    text-decoration: none
}